* {
    box-sizing: border-box;
}

h1, h2, h3 {
    text-align: center;
}

h2 {
    color: red;
    font-weight: 900;
    font-style: italic;
    /* text-decoration: line-through; */
    text-decoration: underline;
    font-size: 30px;
}

#begin {
    color: rgb(249, 19, 234);
}

.chapter {
    color: rgba(30, 235, 30, 0.3);
}

.text {
    font-weight: 900;
    text-transform: uppercase;
}

.box {
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: green;
    /* border: 3px;
    border-style: solid;
    border-color: black; */
    border: 3px solid black;
    margin: 20px;
    padding: 20px;
    z-index: 1;

}

/* elements:
1. block
2. ilnine
3. inline-block
*/

a {
    padding: 20px;
    margin: 20px;
    width: 500px;
}

img {
    display: block;
    margin: 0 auto;
    width: 500px;
}

.example {
    position: relative;
}

.red {
    position: absolute;
    background-color: red;
    left: 30px;
    bottom: 30px;
    z-index: 3;
}